<div class="keen-slider" #sliderRef >
  <div 
       *ngFor="let element of elements" [ngSwitch]="element.type">
    <app-blind-button *ngSwitchCase="'BLIND'" [element]="element" class="keen-slider__slide number-slide1"/>
    <app-action-button *ngSwitchCase="'PUSH_BUTTON'" [element]="element" class="keen-slider__slide number-slide1"/>
    <app-temp-button *ngSwitchCase="'TEMP'" [element]="element" class="keen-slider__slide number-slide1"/>
    <app-unknown-item *ngSwitchDefault [element]="element" class="keen-slider__slide number-slide1"/>
  </div>

</div>
