@import "../../../styles";

.image-container-action {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  font-size: 30px;

  img {
    max-width: 70px;
    width: 70%;
    height: 70%;
    padding: 15px 5px 5px;
  }
}
