@import "../vars";

.content-container {
  min-height: 100vh;
  box-sizing: border-box;
  padding: 25px;
}

.mat-sidenav-container {
  background: $body-bg-color;
}

.mat-sidenav {
  background: $navbar-bg-color;
}

.notification-banner   {
  display: flex;
  align-content: center;
  p {
    margin-top: 2px;
  }
  span {
    margin-right: 16px;
  }
}
