<div class="keen-slider__slide card-carrousel-item">
  <p class="card-header">{{element.title}}</p>
  <div class="card-content">

    <div class="image-container-blind">
      <img src="./assets/blinds/blindsopen48sel.png" alt="Open blind" (click)="handleClick('ON')">
      <img src="./assets/blinds/blinds48sel.png" alt="Close blind" (click)="handleClick('OFF')">
    </div>

    <div class="stop-button" (click)="handleClick('STOP')">
      STOP
    </div>

    <div class="image-with-data">
      <img src="./assets/temperature/update.png" alt="Last seen">
      <p>{{defineLastTime()}}</p>
    </div>
  </div>
</div>
