@import "../../../styles";

.image-container-blind {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 30px;

  img {
    width: 50%;
    height: 50%;
    max-width: 100px;
    padding: 15px 5px;
  }
}

.stop-button {
  display: flex;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 10px;
  justify-content: center;
  font-size: 30px;
  background-color: $stop-button-bg-color;
  color: $stop-button-font-color;
}


